<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>136514039928-k6nt6qoo40qdpko4mbdu48au68f4oe8g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.136514039928-k6nt6qoo40qdpko4mbdu48au68f4oe8g</string>
	<key>API_KEY</key>
	<string>AIzaSyAZZ2ar1xUT94GqSRpVJ8btgcaWP2NZxCU</string>
	<key>GCM_SENDER_ID</key>
	<string>136514039928</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.chat.chatOnline</string>
	<key>PROJECT_ID</key>
	<string>chat-technerds</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-technerds.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:136514039928:ios:0a269ce7d63896cfa4fd8d</string>
	<key>DATABASE_URL</key>
	<string>https://chat-technerds.firebaseio.com</string>
</dict>
</plist>